@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$dark: rgb(95, 95, 95);
$white: #fff;
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";
::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color: transparent;
}
.greeting .title{
    color: white;
}
.greeting::after{
    content: "_";
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    color: $white
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white
    }
  }
  
  @-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white
    }
  }
  
  @-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white
    }
  }
  
  @-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white
    }
  }