---
layout: home
author_profile: false
header:
  overlay_image: "/images/robot_piano_splash.jpeg"
---

The future has arrived. Create an organisation without a leader that physically does not exist!


Grow a community, make a profit, make decisions, conduct votes, and free yourself of hierarchy. 
Create your own organisation in the cloud, free of lawyer-fees, technology-lockin, Big Tech depandancy, and government censorship.

## Details
We developed technology to promote social change concerning institutions, companies, infrastructures and resources.
Our technology tries to alter the essence of capitalism. Our micro-economy offers benefits to everybody and is democratically ruled, not owned by any elite.
Our technology is designed to withstand all known government attacks, lawyer-based attacks, and cooperate interest.
Our technology is based on smartphones which can transmit money and information freely and are under democratic oversight. 

- Transformation of society 
- Equal ownership for all and meaningful control and participation in the means of production
- Access to capital, knowledge, and resources necessary to start any economic activity
- Full transparency and democratic governance with stability and predictability


{% include figure image_path="/images/robot_one_wheel.png" alt="this is a placeholder image" caption="This is a figure caption." %}

## Screens

{% include figure image_path="/images/DAO-in-action.jpg" alt="this is a placeholder image" caption="This is a figure caption." %}

Try out the future now (BETA).
